@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode themes */
:root {
  --primary-color: #f1f5f9;
  --secondary-color: #171717;
}

/* dark mode themes */
.dark-theme {
  --primary-color: #171717;
  --secondary-color: #f1f5f9;
  /*slate-100*/
}

.blurBg {
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}